.updates{
    background-color: white;
    width: 85%;
    padding: 1rem; 
border-radius: 0.7rem ;
display: flex;
flex-direction: column;
padding: 1rem;
gap: 1rem;
font-size: 13px;


}
.update{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 0.5rem;
    
}
.update>img {
    width: 3.2rem;
    height: 3.2rem;
}